html{
	background-image: url("https://www.warnerbros.com/archive/spacejam/movie/img/bg_stars.gif");
}
*{
	font-family: 'Aldrich';
	box-sizing: border-box;
	color: #fff;
}
body{
	text-align: center;
	width: 800px;
	margin: 20px auto;
}
p{
	margin: 3px;
}
#label{
	display: inline-block;
}
form{
	display: inline-block;
	color: #000;
}
input{
	color:#000;
}
#name{
	color: #000;
}
#drop{
	cursor: pointer;
	width: 250px;
	margin: 10px auto;
	border: 2px solid #fff;
	padding: 5px;
}
.wrapper{
	display: none;
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	color: #000;
}
ol{
	padding-left: 25px;
}
#list li, #hide{
	color: #000;
	padding: 5px;
	border: 1px solid #000;
}
#hide{
	width: 200px;
	margin:	5px auto;
	cursor: pointer;
}
#menu{
	margin-top: 15px;
}
.item{
	display: inline-block;
	width: 30%;
	height: 430px;
	vertical-align: top;
	border: 5px solid blue;
	background-color: red;
	cursor: pointer;
}
.image{
	width: 95%;
	height: 350px;
	margin: 5px auto;
}
#chicken .image{
	background-image: url("http://vignette1.wikia.nocookie.net/looneytunes/images/0/0b/Foghorn-Leghorn.jpg/revision/latest?cb=20150112233827");
	background-size: cover;
}
#roadRunner .image{
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/f8/6a/95/f86a954f550c45a3af14a2b645732022.jpg");
	background-size: cover;
}
#secretStuff .image{
	background-image: url("http://static1.squarespace.com/static/526f43aee4b0e0d7dac803ce/526f695ee4b0e0d7dac821a4/53f2e0a7e4b0660efd64d9c5/1415949135228/?format=1000w");
	background-size: cover;
	background-position: -60px 0;
}
footer{
	height: 150px;
	margin: 20px;
}
#total{
	display: inline-block;
	width: 630px;
	vertical-align: top;
	text-align: left;
}
#newCustomer{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/white-checkout-256.png");
	background-size: contain;
	cursor: pointer;
}